<!DOCTYPE html>
<html>
<head>
  <title>Campus News</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>Campus News</h1>
  <p>Heres where you can find all the latest updates and events happening around our campus. We want to keep you in the loop with everything important from fun activities to important announcements. Check back often so you dont miss out on whats going on. Were all part of this community, and staying informed helps us stay connected!</p>
  <img src="/images/news_pic.jpg" alt="News image" width="400">

</body>
</html>
