<!DOCTYPE html>
<html>
<head>
  <title>Campus</title>
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <h1>Campus Life</h1>
  <p>Were really happy youre here. Our campus is more than just a place to learn. Its a community where you can make friends, share ideas, and everyone is important. Whether youre new, coming back, or just visiting, youll find people ready to help you and make you feel at home. Come explore, connect, and get inspired. Were excited to have you with us!</p>
  <img src="/images/campus.png" alt="Campus photo" width="400">

</body>
</html>
