<!doctype html>
<html>
  <head>
    <title>FoxChatter Newsfeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <link rel="stylesheet" type="text/css" href="css/feed.css">
    <link rel="stylesheet" href="css/feed.css" />
  </head>
  <body>
    <header>
      FoxChatter
      <div id="portal_button">
        <img id="redfox" src ="images/redfox.png"></img> <div id="portal_button">MyMarist</div>
      </div>
    </header>
    <main>
      <div>
        <img id="img1" src="images/news_pic.jpg"></img>
        <a id="lnk1" href="/1">NEWS</a>
      </div>
      <div>
        <img id="img1" src="images/campus.png"></img>
        <a id="lnk1" href="/1">CAMPUS</a>
      </div>
      <div>
        <img id="img1" src="images/hancock.jpeg"></img>
        <a id="lnk1" href="/1">HANCOCK</a>
      </div>
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>


    <script src="/js/feed.js"></script>
  </body>
</html>
