header {
	position: fixed;
	left:0px;
	top: 0px;
	height: 60px;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: red;
	font-size: 30px;
	color: white;
}

main {
	display: grid;
	padding-top: 60px;
	justify-content: center;
}

footer {
	position: absolute;
	left: 0px;
  bottom: 0px;
	width: 100%;
	background-color: red;
	text-align: center;
	font-size: 20px;
}

#portal_button {
	position: fixed;
	right: 30px;
	top: 10px;
}

a {
	color: blue;
	text-decoration: none;
}

#redfox{
	position: relative;
	float: left;
	height: 50px;
	bottom: 5px;
}

#newsfeed {
	max-width: 600px;
	min-width: 600px;
}

.feedImage {
	max-width: 150px;
	max-height: 150px;
}
#img1{
	position:relative;
	float: center;
	margin-top:3px;
	height: 80px;
	bottom: 5px;
	right: 50px;
}

body {
  background-image: url("../images/campus.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}
.feed-image {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: block;
  margin: 20px auto;
}
.feed-image {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: block;
  margin: 20px auto;
}
.feed-image {
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(223, 37, 37, 0.3);
  display: block;
  margin: 20px auto;
}

